    /* 
** Author: Gyuray 'GyooDev'
** Website: https://gkdev.org/
** Contact: https://gkdev.org/contacts
*/
    
    html,
    body {
        font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        max-width: 100%;
        max-height: 100%;
    }
    
    @keyframes hue-anime {
        100% {
            filter: hue-rotate(360deg);
        }
    }
    
    img {
        border: 0;
        max-width: 100%;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }
    
    a:hover,
    a:focus {
        color: #fff;
        outline: none;
        text-decoration: underline;
    }
    
    @media screen and (-ms-high-contrast:active),
    (-ms-high-contrast:none) {
        a:active {
            background-color: transparent;
        }
    }
    
    p {
        margin: 0 0 20px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.2;
        margin: 0 0 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    
    h1,
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 30px;
        font-weight: 600;
    }
    
    h4 {
        font-size: 22px;
        font-weight: 600;
    }
    
    h5 {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    
    h6 {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    
    #main {
        padding: 0;
        background: #fff;
    }
    
    @-webkit-keyframes bounce {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            -webkit-transform: translateY(-1.2em);
            transform: translateY(-1.2em);
        }
    }
    
    @keyframes bounce {
        from {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        to {
            -webkit-transform: translateY(-1.2em);
            transform: translateY(-1.2em);
        }
    }
    
    .navbar-nav li {
        margin-left: 20px !important;
    }
    
    .navbar-nav li a {
        color: #fff !important;
        font-size: 15px !important;
        text-decoration: none !important;
        display: block !important;
        font-weight: 500 !important;
        opacity: 1 !important;
    }
    
    .navbar-nav li a:after {
        content: '' !important;
        display: block !important;
        height: 2px !important;
        background: #fff !important;
        -webkit-transition: all 0.4s ease !important;
        transition: all 0.4s ease !important;
        -webkit-transform: scale(0) !important;
        transform: scale(0) !important;
        margin-top: 4px !important;
    }
    
    .navbar-nav li a:hover:after,
    .navbar-nav li.active a:after {
        -webkit-transform: scale(1) !important;
        transform: scale(1) !important;
    }
    
    .navbar-nav li a:hover {
        opacity: 1 !important;
    }
    
    .navbar-nav li.active a {
        opacity: 1 !important;
    }
    /*GKDev's Custom ScrollBar Start>*/
    
     ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
     ::-webkit-scrollbar-thumb {
        background: #4DB6E8;
        border: 0.1px none #000000;
        border-radius: 0px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: #1796FB;
    }
    
     ::-webkit-scrollbar-track {
        background: #E6E6E6;
        border-radius: 0px;
        box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }
    /*GKDev's Custom ScrollBar End<*/
    
    .sitecontainer {
        max-width: 1400px;
        background: #12c2e9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .sticky-nav {
        position: sticky;
        top: 0;
    }
    /*==============================================
  02. HEADER CSS
  ================================================*/
    
    #header {
        padding: 20px 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 999;
    }
    
    .container-fluid {
        padding: 0 20px;
    }
    
    .section-inner {
        padding: 20px 30px 0;
    }
    
    .welcome-box {
        padding: 50px 30px 0;
    }
    
    .home>.container>.first {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 3px;
        line-height: 1.1;
    }
    
    .home>.container>.title {
        font-size: 75px;
        font-weight: 700;
        letter-spacing: 3px;
        line-height: 1.1;
        animation: 10s flyupdown;
    }
    
    .home>.container>.first {
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 3px;
        line-height: 1.1;
    }
    
    .next-section {
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        bottom: 30px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .next-section span {
        margin-top: 15px;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }
    
    .next-section i:hover {
        opacity: 1;
    }
    
    .next-section a,
    .next-section a:hover {
        margin-top: 15px;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
    }
    
    .next-section img:hover {
        opacity: 1;
        transform: scale(1.2);
        transition: all 1s ease;
    }
    
    .aboutme {
        padding-top: 7rem;
    }
    
    .welcome-box {
        font-size: 20px;
        line-height: 1.7;
    }
    
    .welcome-first {
        color: #fff;
        font-size: 32px;
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
    
    .welcome-box p {
        max-width: 620px;
        width: 100%;
        margin: 0 auto 30px;
        color: #fff;
    }
    
    .welcome-title {
        font-weight: 700;
        font-size: 10vw;
        margin-bottom: 10px;
        letter-spacing: 0.02em;
    }
    
    @keyframes grow {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        to {
            -webkit-transform: scale(1.3);
            transform: scale(1.3);
        }
    }
    
    .welcome-title:hover {
        animation: grow 1s alternate infinite;
    }
    
    .welcome-title span {
        font-size: 36px;
        display: block;
        font-weight: 300;
        line-height: 1.2;
    }
    
    .welcome-box .btn {
        margin-top: 1px;
    }
    
    .scrolldown {
        display: inline-block;
        margin-top: 60px;
        top: 50%;
        opacity: 0.8;
        transform: scale(1.1);
        cursor: pointer;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .scrolldown>a {
        text-decoration: none;
    }
    
    .scrolldown>a:hover {
        text-decoration: none;
        transform: scale(1.1);
        cursor: pointer;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    
    .scrolldown>img:hover {
        cursor: pointer;
        -webkit-animation: flyupdown 0.6s infinite alternate;
        animation: flyupdown 0.6s infinite alternate;
    }
    
    .scrolldown:active {
        display: inline-block;
        left: 50%;
        transform: translateY(-50%);
        bottom: 30px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    @keyframes flyupdown {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-50%);
        }
        0% {
            transform: translateY(0%);
        }
    }
    
    .scrolldown img:hover {
        opacity: 1;
    }
    
    #gotop {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Fixed/sticky position */
        bottom: 20px;
        /* Place the button at the bottom of the page */
        right: 30px;
        /* Place the button 30px from the right */
        z-index: 99;
        /* Make sure it does not overlap */
        border: none;
        /* Remove borders */
        outline: none;
        /* Remove outline */
        background-color: red;
        /* Set a background color */
        color: white;
        /* Text color */
        cursor: pointer;
        /* Add a mouse pointer on hover */
        padding: 15px;
        /* Some padding */
        border-radius: 10px;
        /* Rounded corners */
        font-size: 18px;
        /* Increase font size */
    }
    
    .next-section {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 30px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    
    .next-section span {
        margin-top: 15px;
        display: block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
    }
    
    .about>img {
        margin: 0 auto 40px;
        position: relative;
    }
    
    .about-contentbox {
        margin-top: 50px;
        text-align: left;
        line-height: 1.8;
        color: #fff;
    }
    
    .about-contentbox span {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
    }
    
    .about-contentbox h2 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    .about-section>.card-body {
        box-shadow: 2px 2px 97px 1px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 2px 2px 97px 1px rgba(255, 255, 255, 1);
        -moz-box-shadow: 2px 2px 97px 1px rgba(255, 255, 255, 1);
    }
    
    .about-section>.card-body>p {
        color: #000;
    }
    
    .facts-list {
        margin-top: 30px;
    }
    
    .facts-list .item {
        overflow: hidden;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        display: inline-block;
        text-transform: capitalize;
        font-size: 14px;
        padding: 30px 0px;
        background: rgba(0, 0, 0, 0.25);
    }
    
    .counter-box span {
        font-size: 26px;
        font-weight: 700;
    }
    
    .counter-icon {
        font-size: 30px;
        margin-bottom: 10px;
        opacity: 0.75;
    }
    
    .facts-list .item:hover {
        background: #fff;
        color: #1e1e1e;
    }
    
    .facts-list .owl-dots {
        margin-bottom: 30px;
    }
    
    .count-number,
    .counted {
        display: block;
        font-size: 36px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 10px;
    }
    
    .skills-row {
        margin-top: 80px;
    }
    
    .skill-item {
        border-bottom: 1px solid rgba(250, 250, 250, 0.1);
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    
    .last-skill {
        border-bottom: none;
    }
    
    .skills-row span {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #fff;
        color: #1e1e1e;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 700;
        left: 0;
        top: -21px;
        position: absolute;
        z-index: 999;
    }
    
    .skills-row h6 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        text-align: right;
        margin-bottom: -10px;
    }
    
    .skill-bar {
        width: 70%;
        height: 6px;
        border-radius: 3px;
        background-color: rgba(250, 250, 250, 0.25);
        position: relative;
    }
    
    .filled-bar-80 {
        position: absolute;
        z-index: 99;
        width: 80%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-50 {
        position: absolute;
        z-index: 99;
        width: 50%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-60 {
        position: absolute;
        z-index: 99;
        width: 60%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-70 {
        position: absolute;
        z-index: 99;
        width: 70%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-80 {
        position: absolute;
        z-index: 99;
        width: 80%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-90 {
        position: absolute;
        z-index: 99;
        width: 90%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .filled-bar-100 {
        position: absolute;
        z-index: 99;
        width: 100%;
        height: 6px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    .title-block {
        margin-bottom: 40px;
    }
    
    .title-block span {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
    }
    
    .title-block h2 {
        color: #fff;
    }
    
    .portfolio {
        margin-bottom: 15rem !important;
        justify-content: center;
    }
    
    .portfolio .portfolio-item {
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    
    .portfolio .portfolio-item .portfolio-item-caption {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        background: #12c2e9;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9);
    }
    
    .portfolio .portfolio-item .portfolio-item-caption:hover {
        opacity: 1;
    }
    
    .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
        font-size: 1.5rem;
    }
    
    .portfolio-modal .btn-close {
        color: #1abc9c;
        font-size: 2rem;
        padding: 1rem;
    }
    
    .portfolio-modal .portfolio-modal-title {
        font-size: 2.25rem;
        line-height: 2rem;
    }
    
    @media (min-width: 992px) {
        .portfolio-modal .portfolio-modal-title {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
    
    .contacts {
        margin-top: 15rem !important;
        margin-bottom: 5rem !important;
        justify-content: center;
    }
    
    .testimonials {
        margin-top: 15rem !important;
        margin-bottom: 15rem !important;
    }
    
    .container .col-lg-4 {
        display: flex;
        justify-content: center
    }
    
    .card {
        width: 300px !important;
        height: 300px !important;
        transform-style: preserve-3d !important;
        perspective: 500px !important;
        border: none !important;
        background-color: inherit !important;
    }
    
    .card .face {
        position: absolute !important;
        color: #fff !important;
        width: 100% !important;
        height: 100% !important;
        overflow: hidden !important;
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1) !important;
        border-radius: 15px !important;
        background: rgba(255, 255, 255, 0.06) !important;
        transform-style: preserve-3d !important;
        transition: 0.5s !important;
        backface-visibility: hidden !important;
        border-top: 1px solid #ddd !important;
        border-left: 1px solid #ddd !important;
    }
    
    .card .face.front-face,
    .card .face.back-face {
        position: absolute !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    
    .card .face.front-face .profile {
        width: 180px !important;
        height: 180px !important;
        border-radius: 50% !important;
        object-fit: cover !important;
    }
    
    .card .face.front-face .name {
        letter-spacing: 2px !important;
    }
    
    .card .face.front-face .designation {
        font-size: 0.8rem !important;
        color: #ddd !important;
        letter-spacing: 0.8px !important;
    }
    
    .card:hover .face.front-face {
        transform: rotateY(180deg) !important;
    }
    
    .card .face.back-face {
        position: absolute !important;
        background: rgba(255, 255, 255, 0.06) !important;
        transform: rotateY(180deg) !important;
        padding: 20px 30px !important;
        text-align: center !important;
        user-select: none !important;
    }
    
    .card .face.back-face .fa-quote-left {
        position: absolute !important;
        top: 25px !important;
        left: 25px !important;
        font-size: 1.2rem !important;
    }
    
    .card .face.back-face .fa-quote-right {
        position: absolute !important;
        bottom: 35px !important;
        right: 25px !important;
        font-size: 1.2rem !important;
    }
    
    .card:hover .face.back-face {
        transform: rotateY(360deg) !important;
    }
    
    .services {
        margin-top: 15rem;
        margin-bottom: 15rem;
        justify-content: center;
    }
    
    .services-box {
        margin-top: 5rem;
        display: flex;
        margin-bottom: 5rem;
        justify-content: center;
        align-items: center;
    }
    
    .contacts>a {
        color: #fff;
        text-decoration: none;
    }
    
    .services-list .item {
        background-color: rgba(250, 250, 250, 0.25);
        border-radius: 10px;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin: 5px;
        color: #fff;
    }
    
    .service-icon {
        display: block;
        margin: 0 auto 0;
        font-size: 64px;
    }
    
    .service-box {
        font-size: 15px;
        padding: 40px 20px;
        height: 100%;
    }
    
    .services-list .item:hover {
        background-color: #fff;
        color: #1e1e1e;
    }
    
    .service-box h3 {
        font-size: 22px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 10px;
        padding: 10px;
    }
    
    .service-box p:last-child {
        margin: 0;
    }
    
    footer {
        margin: 5px 0px 10px 0px;
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }
    
    .copyrights {
        padding-top: 20px !important;
        font-size: 15px !important;
        font-weight: 600 !important;
        color: #fff !important;
        text-shadow: 0px 5px 14px !important;
        padding-bottom: 10px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
        overflow: hidden !important;
    }
    
    .copyrights>.brandname,
    .copyrights>.brandname:hover {
        font-size: 16px !important;
        text-decoration: underline !important;
        text-decoration-style: wavy !important;
    }
    
    .copyrights>.brandname:hover {
        -webkit-animation: hue-anime 0.6s infinite alternate !important;
        animation: hue-anime 0.6s infinite alternate !important;
    }
    /* Slideshow container */